<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>數字加總</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="abc">
        <button @click="abc = !abc">切換</button>
        <h1 v-if="abc">龍華科技大學</h1>
    </div>
    <script>
        Vue.createApp({
          data(){
            return{
             abc: true
        }
    }
}).mount("#abc")

    </script>
</body>
</html>

<!-- v-if=他的值是true就顯示元素,是false就不顯示
<h1 v-if="abc">龍華科技大學</h1>

v-else=他的值是true就顯示v-if元素,是false就顯示v-else元素
<h1 v-else>資網三B</h1>

v-else-if=只顯示v-else所在的元素
<div v-else-if="type === 'y'">y</div>
<div v-wlse-if="type === 'z'">z</div>

v-show=跟v-if指令用法差不多 -->